.cubeContainer {
    animation: MoveDownUp 5s ease-in-out infinite;
}

@keyframes MoveDownUp {

    0%,
    100% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(15px);
    }
}