html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Outfit', system-ui;
  margin: 0;
}

button:focus {
  outline: none !important;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}